<form [formGroup]="dados">
  <nb-card>
    <nb-card-header>
      <button nbButton size="small" ghost routerLink="/pages/admin/usuarios">
        <nb-icon icon="arrow-left"></nb-icon>
      </button>
      Editar usuário
    </nb-card-header>
    <nb-card-body>
      <div class="form-group">
        <div
          class="container"
          dnd
          (fileDropped)="uploadFiles($event)"
        >
          <input
            type="file"
            #fileDropRef
            id="fileDropRef"
            multiple
            (change)="uploadFiles($event.target.files)"
          />
          <img [src]="avatar"/>
          <h3><nb-icon icon="upload-outline" style="font-size:15px;"></nb-icon></h3>
        </div>
      </div>
      <div class="row form-group">
        <div class="form-group col-md-4">
          <label for="Nome" class="label" required>Nome </label>
          <input
            type="text"
            nbInput
            placeholder="Nome"
            fullWidth
            id="nome"
            [status]="verificaValidacaoCampo('name') ? 'danger' : 'basic'"
            formControlName="name"
          />
          <p
            class="caption status-danger"
            *ngIf="verificaValidacaoCampo('name', 'required')"
          >
            Campo obrigatório!
          </p>
        </div>
        <div class="form-group col-md-4">
          <label for="Email" class="label" required>Email </label>
          <input
            type="email"
            nbInput
            placeholder="Email"
            fullWidth
            id="Email"
            [status]="verificaValidacaoCampo('email') ? 'danger' : ''"
            formControlName="email"
          />
          <p
            class="caption status-danger"
            *ngIf="verificaValidacaoCampo('email', 'required')"
          >
            Campo obrigatório!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label class="label">Aniversário:</label>
          <input
            [status]="verificaValidacaoCampo('bd') ? 'danger' : 'basic'"
            fullWidth
            nbInput
            formControlName="bd"
            [nbDatepicker]="dp"
          />
          <nb-datepicker #dp></nb-datepicker>
          <p
            class="caption status-danger"
            *ngIf="verificaValidacaoCampo('bd', 'dataInvalida')"
          >
            Favor digitar uma data válida!
          </p>
        </div>
        <div class="form-group col-md-4">
          <label for="equipe" class="label" required>Equipe </label>
          <nb-select placeholder="Equipe" fullWidth formControlName="equipe">
            <nb-option *ngFor="let equipe of equipes" [value]="equipe._id">{{
              equipe.nome
            }}</nb-option>
          </nb-select>
        </div>

        <div class="form-group col-md-4">
          <nb-toggle
            labelPosition="start"
            formControlName="coordenaEquipe"
            disabled="true"
            >Coordena Equipe?</nb-toggle
          >
        </div>
      </div>
      <div class="form-group row">
        <div class="form-group col-md-4">
          <label for="hierarquia" class="label" required>Posição </label>
          <nb-select
            placeholder="Posição"
            fullWidth
            formControlName="hierarquia"
          >
            <nb-option *ngFor="let h of hierarquia" [value]="h.k">{{
              h.v
            }}</nb-option>
          </nb-select>
        </div>

        <div class="form-group col-md-4">
          <label for="comunidade" class="label" required>Comunidade </label>
          <nb-select
            placeholder="Comunidade"
            fullWidth
            formControlName="comunidade"
          >
            <nb-option
              *ngFor="let comunidade of comunidades"
              [value]="comunidade.k"
              >{{ comunidade.v }}</nb-option
            >
          </nb-select>
        </div>
      </div>
      <div class="form-group row">
        <div class="form-group col-md-4">
          <nb-checkbox formControlName="mudarSenha">Mudar Senha</nb-checkbox>
        </div>
        <ng-container *ngIf="mudarSenha">
          <div class="form-group col-md-4">
            <label class="label" required>Senha </label>
            <input
              type="password"
              nbInput
              placeholder="Senha"
              fullWidth
              id="password"
              [status]="verificaValidacaoCampo('password') ? 'danger' : 'basic'"
              formControlName="password"
            />
            <p
              class="caption status-danger"
              *ngIf="verificaValidacaoCampo('password', 'required')"
            >
              Campo obrigatório!
            </p>
            <p
              class="caption status-danger"
              *ngIf="verificaValidacaoCampo('password', 'senhaFraca')"
            >
              Senha precisar ter: uma letra maiúscula, uma letra minúscula, um
              número, um caractere especial (@#$%) e tamanho entre 6-20.
            </p>
          </div>
          <div class="form-group col-md-4">
            <label class="label" required>confirmar senha </label>
            <input
              type="password"
              nbInput
              placeholder="Confirmar senha"
              fullWidth
              [status]="
                verificaValidacaoCampo('password_confirm') ? 'danger' : 'basic'
              "
              formControlName="password_confirm"
            />
            <p
              class="caption status-danger"
              *ngIf="verificaValidacaoCampo('password_confirm', 'required')"
            >
              Campo obrigatório!
            </p>
            <p class="caption status-danger" *ngIf="validateEqualPassword()">
              As senhas estão diferentes
            </p>
          </div>
        </ng-container>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="salvar()">Salvar</button>
    </nb-card-footer>
  </nb-card>
</form>
