<form [formGroup]="form">
  <nb-card>
    <nb-card-header>
      <button nbButton size="small" ghost routerLink="/pages/admin/produto"><nb-icon icon="arrow-left"></nb-icon></button>
      {{headerMessage}} Produto
    </nb-card-header>
    <nb-card-body>
    <div class="row form-group">
      <div class="form-group col-md-6">
        <label for="Nome" class="label" required>Nome </label>
        <input type="text" nbInput placeholder="Nome" fullWidth id="nome"
          [status]="verificaValidacaoCampo('nome') ? 'danger' : ''" formControlName="nome" />
        <p class="caption status-danger" *ngIf="verificaValidacaoCampo('nome', 'required')">
          Campo obrigatório!
        </p>
      </div>
      <div class="form-group col-md-3">
        <label for="valor" class="label">Valor</label>
        <input type="tel" nbInput currencyMask placeholder="Valor" fullWidth id="valor"
          formControlName="valor" maxlength="15"
          [status]="verificaValidacaoCampo('valor') ? 'danger' : ''" />
        <p class="caption status-danger" *ngIf="verificaValidacaoCampo('valor', 'required')">
          Campo obrigatório!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-9">
        <label for="Nome" class="label" required>Descrição</label>
        <textarea nbInput placeholder="Descrição" fullWidth id="descricao"
          [status]="verificaValidacaoCampo('descricao') ? 'danger' : ''" formControlName="descricao" ></textarea>
      </div>
    </div>
  </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="salvar()" [disabled]="form.invalid">Enviar</button>
    </nb-card-footer>
  </nb-card>
</form>

