
<nb-alert status="warning" *ngIf="!filtroStatus">
  Especifique o status na pesquisa para poder altera-lo!
</nb-alert>
<nb-alert status="warning" *ngIf="filtroStatus === 'PAGO'">
  Não é possível alterar status de solicitações pagas!
</nb-alert>

<nb-alert status="warning" *ngIf="filtroStatus === 'CANCELADO'">
  Não é possível alterar status de solicitações canceladas!
</nb-alert>
<div class="row">
  <div class='col-md-8'>
    <nb-card>
      <nb-card-header>
        <div style="display: flex; justify-content: space-between;">
          <div>
            Filtro de Solicitações
          </div>
          <div>
            <button
              [disabled]="!permissaoRelatorio"
              nbTooltip="Ver relatórios"
              nbTooltipStatus="primary" nbButton
              status="basic" size="tiny"
              [routerLink]="['/pages/admin/solicitacoes/relatorio']">
              <fa-icon [icon]="faChartLine"></fa-icon>
            </button>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="filtro">
          <div class="row form-group">
            <div class="form-group col-md-6">
              <label for="Nome" class="label" required>Status</label>
              <nb-select placeholder="Status" formControlName="status" fullWidth>
                <nb-option value="">Todos</nb-option>
                <nb-option *ngFor="let s of status" [value]="s.k">{{ s.v}}</nb-option>
              </nb-select>
            </div>
            <div class="form-group col-md-6">
              <label for="Usuario" class="label" required>Usuário</label>
              <nb-select placeholder="Usuário" formControlName="usuario" fullWidth>
                <nb-option value="">Todos</nb-option>
                <nb-option *ngFor="let u of usuarios" [value]="u._id">{{u.name}}</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="row">
          <div class="col-md-6">
                <label class="label">Data de criação:</label>
                <input fullWidth  nbInput formControlName="dataCriacao" [nbDatepicker]="rangepicker">
                <nb-rangepicker #rangepicker></nb-rangepicker>
            </div>
            <div class="col-md-6">
                <label class="label">Data desejada:</label>
                <input fullWidth nbInput formControlName="dataDesejada" [nbDatepicker]="dataDesejada">
                <nb-rangepicker #dataDesejada></nb-rangepicker>
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton size="small" (click)="buscar()"><fa-icon [icon]="faSearch" style="margin-right: 5px;"></fa-icon> Buscar</button>
        <button nbButton status="primary" routerLink="/pages/solicitacao-produto/solicitar" style="padding: 6px; margin-left: 6px;">
          <fa-icon [icon]="faPlus" style="margin-right: 5px;"></fa-icon>solicitação
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class='col-md-4'>
    <nb-card style="height: 322px;"  [nbSpinner]="loadingInfo" nbSpinnerStatus="primary">
      <nb-card-header>
        <div style="display: flex; justify-content: space-between;">
          <div>
            Produto / Quantidade
          </div>
          <div>
            <button
              [disabled]="!filtroStatus || !alterarStatusPermissao"
              nbTooltip="Alterar Status"
              nbTooltipStatus="primary" nbButton
              status="basic" size="tiny"
              (click)="alterarStatusTodos()">
              <fa-icon [icon]="faExchangeAlt"></fa-icon>
            </button>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let pc of produtosCount">
            <div class="col-md-9">
              {{pc.produto[0] && pc.produto[0].nome || '-'}}
            </div>
            <div class="col-md-3">
              {{pc.count}}
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>

    </nb-card>
  </div>
</div>
<nb-card [nbSpinner]="loadingLista" nbSpinnerStatus="primary">
  <nb-card-body>
    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr [clickToToggle]="false" nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
      <ng-container  nbTreeGridColumnDef="action">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
          <button
          [disabled]="!filtroStatus || !alterarStatusPermissao"
          nbTooltip="Alterar status das solicitações selecionadas"
          nbTooltipStatus="primary" nbButton
          status="basic" size="tiny"
          (click)="alterarStatusSelecionados()">
          <fa-icon [icon]="faExchangeAlt"></fa-icon>
        </button>
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <nb-tree-grid-row-toggle
                [expanded]="row.expanded"
                *ngIf="row.children "
                >
              </nb-tree-grid-row-toggle>
          <nb-checkbox [disabled]="!filtroStatus || filtroStatus === 'PAGO' ||  filtroStatus === 'CANCELADO'" *ngIf="row.children" [checked]="isChecked(row)" (checkedChange)="toggle($event, row)"></nb-checkbox>
        </td>
      </ng-container>
      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection('nome')" *nbTreeGridHeaderCellDef>
          Usuário/Produto
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          {{row.data['nome']}}
        </td>
      </ng-container>
      <ng-container nbTreeGridColumnDef="uq">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection('uq')" *nbTreeGridHeaderCellDef>
          Status/Qtd. Solicitada
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          {{row.data['uq']}}
        </td>
      </ng-container>
      <ng-container nbTreeGridColumnDef="valor">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection('valor')" *nbTreeGridHeaderCellDef>
          Valor
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          {{row.data['valor']}}
        </td>
      </ng-container>
      <ng-container nbTreeGridColumnDef="dataDesejada">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection('dataDesejada')" *nbTreeGridHeaderCellDef>
          Data Desejada
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          {{row.data['dataDesejada']}}
        </td>
      </ng-container>
      <!-- <ng-container *ngFor="let column of defaultColumns; let index = index"
                    [nbTreeGridColumnDef]="column"
                    [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{column}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
      </ng-container> -->
    </table>
  </nb-card-body>

  <nb-card-footer>
    <button nbButton ghost [disabled]="pageNumber === 1">
      <fa-icon [icon]="faAngleDoubleLeft" (click)="mudarPagina(1)" ></fa-icon>
    </button>

    <button nbButton ghost (click)="mudarPagina(pageNumber - 2)" [disabled]="pageNumber <= 2">
      <fa-icon [icon]="faAngleLeft"></fa-icon>
    </button>
    <button nbButton ghost *ngIf="pageNumber > 1" (click)="mudarPagina(pageNumber - 1)">
      {{pageNumber - 1}}
    </button>
    <button nbButton ghost status="primary">
      {{pageNumber}}
    </button>
    <button nbButton ghost (click)="mudarPagina(pageNumber + 1)" *ngIf="pageNumber < nOfPages">
      {{pageNumber + 1}}
    </button>
    <button nbButton ghost (click)="mudarPagina(pageNumber + 2)" [disabled]="pageNumber >= (nOfPages - 2)">
      <fa-icon [icon]="faAngleRight"></fa-icon>
    </button>

    <button nbButton ghost (click)="mudarPagina(nOfPages)" [disabled]="pageNumber === nOfPages">
      <fa-icon [icon]="faAngleDoubleRight" ></fa-icon>
    </button>
  </nb-card-footer>
</nb-card>
